
<div class="pages__editor-controls clearfix">
    
        <div class="pages__editor-controls__actions clearfix">
    
            <div class="pages__editor-controls__actions-action"
                (click)="CreatePage();">
    
                <span class="jam jam-check"></span>
    
            </div>
    
            <div class="pages__editor-controls__actions-action"
                (click)="DiscardPageChanges();">
    
                <span class="jam jam-close"></span>
    
            </div>
            
        </div>
    
    </div>