
.pages__editor-controls {

    font-family: "Roboto";

    position: relative;

    width: 100%;

    padding: 15px;

}

.pages__editor-controls__actions {

    float: right;

}

.pages__editor-controls__actions-action {

    float: left;

    cursor: pointer;

    font-size: 16px;

    line-height: 16px;

    color: #404044;

    padding: 0 10px;

}
