
<sidebar></sidebar>

<div class="activities__tags">
    
    <activities-tags></activities-tags>

</div>

<div class="activities">

	<!-- <router-outlet></router-outlet> -->
	
	<div class="activities__pannel clearfix row-flow">

		<div class="span-10">

			<div class="row">

				<div class="activities__pannel-textbox span-10">

					<input type="text" 
						   class="txt"
						   placeholder="What are you going to do?"
						   [(ngModel)]="activityName" />
	
				</div>
	
				<div class="activities__pannel-btn span-2">
	
					<activities-list [activities]="activities"></activities-list>
	
				</div>

			</div>

		</div>

		<div class="span-2">

			<div class="row">

				<div class="activities__pannel-btn right span-12">

					<input type="button"
						   class="btn btn-primary"
						   value="Create"
						   (click)="CreateActivityStamp();"/>
	
				</div>

			</div>

		</div>

	</div>

</div>