
<div class="activities__tag"
     *ngIf="selectedActivityName">

    <span>#{{ selectedActivityName }}</span>

</div>

<button class="activities__btn"
        (click)="OpenModel();">

    <span class="jam jam-tag"></span>

</button>

<div class="activities__modal"
     *ngIf="isVisible">

    <div class="activities__modal-content">

        <div class="activities__modal-close"
            (click)="CloseModal();">
   
           <span class="jam jam-close"></span>
   
       </div>

        <div class="activities__modal-content__editor">

            <input type="text"
                   class="activities__modal-content__editor-input"
                   placeholder="Wtire your activity"
                   [(ngModel)]="activityName" />
        
        </div>
    
        <ul class="activities__modal-content__items">
    
            <li class="activities__modal-content__items-item"
                *ngFor="let activity of activities"
                (click)="SelectActivity(activity);">
                
                <span>{{ activity.name }}</span>
            
            </li>
    
        </ul>

        <div class="activities__modal-content__controls">

            <input type="button"
                   class="activities__modal-content__controls-btn"
                   value="Create Activity"
                   (click)="CreateActivity(activityName);" />

        </div>

    </div>

</div>