
.activities__modal {

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;

}

.activities__modal-content {

    position: relative;
    width: 600px;
    margin: 150px auto;

}